<div class="container">
  <button mat-fab color="primary" matTooltip="Go back to customer list" routerLink="/customers">
    <mat-icon aria-label="label">arrow_back_ios_new</mat-icon>
  </button>
  <button mat-fab color="primary" style="margin-left: 15px" matTooltip="Create new borc" (click)="CreateBorc()">
  <mat-icon aria-label="label">add</mat-icon>
  </button>
  <mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="this.borclar!.length == 0" color="warn">
    <span>{{customer.CustomerName}} Adlı musteriye ait borc kaydi bulunamadi.</span>
  </mat-toolbar>
  <mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="this.borclar!.length > 0" color="primary">
    <span>{{customer.CustomerName}} Adlı musteriye ait borc listesi.</span>
  </mat-toolbar>
   <mat-table [dataSource]="dataSource">
     <ng-container matColumnDef="Description">
       <mat-header-cell *matHeaderCellDef> Description
       </mat-header-cell>
       <mat-cell *matCellDef="let borc"> {{borc.Description}}</mat-cell>
     </ng-container>

     <ng-container matColumnDef="BorcAmount">
       <mat-header-cell *matHeaderCellDef> Borc Amount
       </mat-header-cell>
       <mat-cell *matCellDef="let borc"> {{borc.BorcTutari}}</mat-cell>
     </ng-container>

     <ng-container matColumnDef="Calculations">
       <mat-header-cell *matHeaderCellDef> Calculations
       </mat-header-cell>
       <mat-cell *matCellDef="let borc">
          <button mat-icon-button color="accent" matTooltip="Edit" (click)="EditBorc(borc)">
            <mat-icon aria-label="label">edit</mat-icon>
          </button>
         <button mat-icon-button color="warn" matTooltip="Delete" (click)="DeleteBorc(borc.BorcId)">
           <mat-icon aria-label="label">delete</mat-icon>
         </button>

       </mat-cell>
     </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

   </mat-table>
</div>
