<div class="container">
  <button mat-fab color="primary">
    <mat-icon aria-label="label">create</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="CustomerName">
      <mat-header-cell *matHeaderCellDef> Customer Name
      </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.CustomerName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
  </mat-table>
</div>
